<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
    <!-- <link rel="stylesheet" href="..\static\predict.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='predict.css') }}">
    <script src="java.js"></script>
</head>
<body>
    
    <form method="GET" action="\predict">   
        <h1>Wellcome to FWI Predictor</h1>
        <button type="submit" class="Predictor_button">Predictor</button>
    </form>

</body>
</html>